---
title: Beginner guide to \(\LaTeX\)
author: Leo CHIU
date: '2021-12-23'
slug: []
categories:
  - Learning
tags: []
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>


<div id="before-installing-latex" class="section level1">
<h1>Before installing <span class="math inline">\(\LaTeX\)</span></h1>
<p>Actually, you can try to use <span class="math inline">\(\LaTeX\)</span> <strong>without</strong> installing it
to your machine although it has some limitations obviously. The way of doing
that is using <a href="https://www.overleaf.com/">Overleaf</a>, an <strong>online</strong> <span class="math inline">\(\LaTeX\)</span>
editor.</p>
</div>
<div id="minimal-.tex-file" class="section level1">
<h1>Minimal .tex file</h1>
<pre><code>\documentclass{article} 
\begin{document} 
Hello World.
\end{document}</code></pre>
</div>
<div id="further-details" class="section level1">
<h1>Further details</h1>
<p>You may find further details in <a href="https://en.m.wikibooks.org/wiki/LaTeX"><span class="math inline">\(\LaTeX\)</span> wikibook</a> and
<a href="http://mirrors.ctan.org/info/lshort/english/lshort.pdf">The Not So Short Introduction to <span class="math inline">\(\LaTeX 2\varepsilon\)</span></a>
<!-- \LaTeX 2\varespsilon should be \LaTeXe instead, but it is not supported in KaTeX (and mathjax) currently --></p>
</div>
