---
title: Visualize graph using geogebra
author: Leo CHIU
date: '2022-02-15'
categories: software
---



<div id="geogebra-vs-desmos" class="section level1">
<h1>Geogebra vs Desmos</h1>
<p>Two popular choices for plotting graphs are <a href="https://geogebra.org">geogebra</a> and <a href="https://desmos.com">desmos</a>
and I choose <a href="https://geogebra.org">geogebra</a> for plotting graphs as it has more features (esp. 3d).</p>
</div>
<div id="how-to-use-geogebra" class="section level1">
<h1>How to use geogebra</h1>
<p>Refer to <a href="https://wiki.geogebra.org/en/Manual">geogebra manual</a>. In particular, refer to <a href="https://www.geogebra.org/m/XUv5mXTm">this
tutorial</a> for basic usage.</p>
</div>
