---
title: 如何學倉頡?
author: Leo CHIU
date: '2022-02-07'
slug: []
categories:
  - Learning
tags: []
---



<div id="倉頡-vs-速成" class="section level1">
<h1>倉頡 vs 速成</h1>
<p>雖然倉頡比速成較複雜，但是在用倉頡時，我們很少需要選字。因此，我認為倉頡在長遠來說是較為方便的。
另外，雖然我們可以記住速成選字（即記住每一個字對應的數字），不過，這方法是有一些問題的。
首先，我們很難記住一些偏辟字對應的數字，因為我們很少會打那些字。於是，當我們要打一些偏辟字時，
我們便需要一段時間才找到那個字。其次，在不同版本的速成中，每個字所對應的數字<strong>可能</strong>會不同，
這樣我們便有可能因版本差異而有錯誤的肌肉記憶。所以，我會較為推薦倉頡。
除比之外，在 windows 10 中，我們在打倉頡時，我們其實也能打速成。只要我們在頭尾碼之間加一個*，
功能就和速成沒有分別了。當我們不知道某一個字的倉頡碼時，我們就可以用這個方法了。</p>
</div>
<div id="學習倉頡" class="section level1">
<h1>學習倉頡</h1>
<p>首先，我們要了解倉頡的通用規則。然後，我們當然要練習，過一陣子就會打得很快了！
這連結有一些精選倉頡資源:<a href="https://codeberg.org/leochiu/awesome-cangjie" class="uri">https://codeberg.org/leochiu/awesome-cangjie</a></p>
</div>
