---
title: Learn the basic of Anki
author: Leo CHIU
date: '2022-02-17'
categories: Learning
---



<div id="tldr" class="section level1">
<h1>TL;DR</h1>
<p>Mainly refer to Anki docs.</p>
</div>
<div id="more-details" class="section level1">
<h1>More details</h1>
<p>To learn how to use Anki, you should obviously refer to Anki docs.
In particular, it is suggested to read
<a href="https://docs.ankiweb.net/background.html">the background part</a> to
<strong>understand</strong> the reasons to use Anki.
Also, <a href="https://invidious.snopyta.org/watch?v=1XaJjbCSXT0">this video</a>
is recommended to for understanding the <strong>algorithm</strong> used by Anki. You may also watch the related videos.</p>
</div>
