---
title: How to change the email (or other things) for multiple previous commits in git
author: Leo CHIU
date: '2022-02-15'
---



<div id="warning" class="section level1">
<h1>Warning</h1>
<p>Avoid doing this when there are multiple people working for the repository as this will rewrite the history
of commits and potentially cause issues for others.</p>
</div>
<div id="tldr" class="section level1">
<h1>TL;DR</h1>
<p>Run</p>
<pre><code>git rebase -i HEAD~n -x &#39;git commit --amend --author &#39;name &lt;email&gt;&#39; --no-edit&#39;</code></pre>
<p>to change the author name and email of last <span class="math inline">\(n\)</span> commits to ‘name’ and ‘email’ respectively.
(You should change the name and email in the command suitably.)</p>
<p>Run</p>
<pre><code>git rebase -i --root -x &#39;git commit --amend --author &#39;name &lt;email&gt;&#39; --no-edit&#39;</code></pre>
<p>to change the author name and email of <strong>all</strong> previous commits to ‘name’ and ‘email’ respectively.
(You should change the name and email in the command suitably.)</p>
<p>Then, run</p>
<pre><code>git push --force</code></pre>
<p>for pushing the changed commits to the remote repository.</p>
<p>Run</p>
<pre class="git"><code>git-filter-repo --email-callback &#39;return email.replace(b&quot;oldemail&quot;, b&quot;newemail&quot;)&#39;</code></pre>
<p>to change all ‘oldemail’ to ‘newemail’ for all previous commits.</p>
</div>
<div id="some-explanations" class="section level1">
<h1>Some explanations</h1>
<p>Basically, the first two commands means picking the previous commits selected and amending the
author and email of commits one by one. <code>--no-edit</code> flag make <code>git commit --amend</code> not ask an
extra confirmation. <code>git rebase -i</code> means rebasing in interactive mode and thus you may manually
edit the commands to be run. Adding <code>--root</code> flag can let git to rebase all commits for the current
branch, including the root commit (i.e. the first commit).</p>
<p><code>-force</code> flag is required because of the rebasing.</p>
</div>
<div id="references" class="section level1">
<h1>References</h1>
<ol style="list-style-type: decimal">
<li><a href="https://stackoverflow.com/questions/4981126/how-to-amend-several-commits-in-git-to-change-author/31669789#31669789" class="uri">https://stackoverflow.com/questions/4981126/how-to-amend-several-commits-in-git-to-change-author/31669789#31669789</a></li>
<li><a href="https://git-scm.com/docs/git-rebase" class="uri">https://git-scm.com/docs/git-rebase</a></li>
</ol>
</div>
