---
title: What is an actuary/actuarial science?
author: Leo CHIU
date: '2022-02-15'
draft: true
---



<p>TODO: change to awesome-actuarial-resources instead of blog post</p>
<p>This is a FAQ. For answers, you may refer to the following links:</p>
<div id="what-is-an-actuary" class="section level1">
<h1>What is an actuary?</h1>
<ul>
<li><a href="https://www.beanactuary.org/what-is-an-actuary/">Be an actuary</a>: WE MANAGE RISK… We are the backbone of financial security …</li>
<li><a href="https://en.wikipedia.org/wiki/Actuary">Wikipedia</a>: An actuary is a business professional who deals with the measurement and management of risk and uncertainty…</li>
<li><a href="https://teddit.net/r/actuary/wiki/general_questions">R/actuary</a>:
Actuaries started out in life insurance … Actuaries typically work either for large insurance providers, investment houses, or for consulting firms …
Actuaries basically quantify risk…</li>
</ul>
</div>
<div id="what-is-actuarial-science" class="section level1">
<h1>What is actuarial science?</h1>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Actuarial_science">Wikipedia</a>:
Actuarial science is the discipline that applies mathematical and statistical methods to assess risk in insurance, finance, and other industries and professions…</li>
</ul>
</div>
