---
title: Opendocument format (ODF) v.s. Microsoft Office format
author: Leo CHIU
date: '2022-02-17'
---



<div id="advantages-of-odf" class="section level1">
<h1>Advantages of ODF</h1>
<ul>
<li>Free (as in both cost and freedom).</li>
<li>Ensure the file can be read at the future (e.g. there will not be formatting issues at the future,
unlike MS Office format, which may have these issues due to different version of MS Office.)</li>
</ul>
<p>Further readings:</p>
<ul>
<li><a href="https://www.fsf.org/campaigns/opendocument" class="uri">https://www.fsf.org/campaigns/opendocument</a></li>
<li><a href="https://en.wikipedia.org/wiki/OpenDocument" class="uri">https://en.wikipedia.org/wiki/OpenDocument</a></li>
</ul>
</div>
<div id="advantages-of-ms-office-format" class="section level1">
<h1>Advantages of MS Office format</h1>
<ul>
<li>Probably more features than ODF? (especially for MS Excel)<br />
You may refer to <a href="https://wiki.documentfoundation.org/Feature_Comparison:_LibreOffice_-_Microsoft_Office">this comparision</a>
about them.</li>
</ul>
</div>
<div id="suggestions" class="section level1">
<h1>Suggestions</h1>
<ul>
<li>If you do not necessarily need to use the features uniquely provided by MS Office format, then it
is preferable to use ODF. A common way to create/read/edit ODF is using
<a href="https://www.libreoffice.org/discover/libreoffice/">LibreOffice</a>. It is free (as in both cost and freedom) and
open source.</li>
<li>Also, for the odt<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a> file (‘word processing’ file)
and odp file (‘presentation’<a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a> file), you may also export them as pdf file,
which can be read by any decent pdf reader and thus it is also free (as in both cost and freedom).</li>
<li>Besides, for odt and odp files, you may also consider using <span class="math inline">\(\LaTeX\)</span> for creating pdf file. The
<span class="math inline">\(\LaTeX\)</span> beamer class may be used to replace odp files. You may refer
<a href="https://leochiu.codeberg.page/post/beginner-guide-to-latex/">my another post</a> to learn more about <span class="math inline">\(\LaTeX\)</span>.</li>
</ul>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>odt stands for OpenDocument Text<a href="#fnref1" class="footnote-back">↩</a></p></li>
<li id="fn2"><p>I avoid using ‘powerpoint’
as it is not the only type of presentation file.<a href="#fnref2" class="footnote-back">↩</a></p></li>
</ol>
</div>
