---
title: Installing applications for windows easily with scoop
author: Leo CHIU
date: '2022-02-07'
---



<div id="motivation" class="section level1">
<h1>Motivation</h1>
<p>We sometimes need to install a large number of applications at once, and it can be quite annoying to
go to the website of each of the software one by one for installing them. Also, a common problem we
encounter is that it is difficult and time consuming to track whether any of the applications need
update and we need to update the application one by one. These motivate us to use an installer to
handle the installation instead of doing it manually where scoop is one of the installers.</p>
</div>
<div id="scoop" class="section level1">
<h1>Scoop</h1>
<div id="quick-start" class="section level2">
<h2>Quick start</h2>
<p>Refer to this link: <a href="https://github.com/ScoopInstaller/Scoop/wiki/Quick-Start" class="uri">https://github.com/ScoopInstaller/Scoop/wiki/Quick-Start</a></p>
</div>
<div id="features" class="section level2">
<h2>Features</h2>
<p>Refer to this link: <a href="https://github.com/ScoopInstaller/Scoop#what-does-scoop-do" class="uri">https://github.com/ScoopInstaller/Scoop#what-does-scoop-do</a>.
Basically, we mainly install <a href="https://en.wikipedia.org/wiki/Portable_application">portable applications</a> through scoop and thus there are various advantages which obviously include ‘portable’.</p>
</div>
<div id="typical-workflow" class="section level2">
<h2>Typical workflow</h2>
<div id="search-applications-available-in-scoop" class="section level3">
<h3>Search applications available in scoop</h3>
<p>I recommend using <a href="https://shovel.sh">shovel</a> to search the applications or install <a href="https://github.com/shilangyu/scoop-search">scoop-search</a> and use the command <code>scoop-search</code> as they are faster than the command <code>scoop search</code></p>
</div>
<div id="install-applications-in-scoop" class="section level3">
<h3>Install applications in scoop</h3>
<p>Run</p>
<pre><code>scoop install application-name</code></pre>
<p>and run</p>
<pre><code>scoop bucket add bucket-name</code></pre>
<p>when needed<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>.</p>
</div>
<div id="update-all-outdated-applications-at-once" class="section level3">
<h3>Update all outdated applications at once</h3>
<p>Run</p>
<pre><code>scoop update *</code></pre>
<p>to update all applications.</p>
</div>
</div>
<div id="problems" class="section level2">
<h2>Problems</h2>
<p>Some applications may not be available or may be outdated in scoop.</p>
</div>
<div id="solutions" class="section level2">
<h2>Solutions</h2>
<ul>
<li>Open an issue in appropriate bucket for the apps as suggested <a href="https://github.com/ScoopInstaller/Scoop#known-application-buckets">here</a></li>
<li>Use alternative way to install those applications, e.g. manually</li>
</ul>
</div>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Change the name to the name of application found in <a href="https://shovel.sh">shovel</a><a href="#fnref1" class="footnote-back">↩</a></p></li>
</ol>
</div>
